body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    background-color: rgb(26, 25, 25);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    aspect-ratio: 1/1; 
}

@media (min-width: 768px) {
    #container {
        height: 95%;
    }
}

@media (max-width: 767px) {
    #container {
        width: 90%;
        max-width: 635px;
    }
}

.square {
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
}

.btn {
    width: 25%;
    margin-bottom: 1rem;
}

